*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: grey;
    display: grid;
    gap: 0.4rem;
    padding: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,);
    border: 2px solid white;
    place-items: center;
    
     
}
.item{
    height: 10rem;
    width: 10rem;
    background-color:aqua ;
    border: 2px solid white;
    /* justify-self: center; */
    /* align-self: stretch; */
    /* place-self: center; */
    place-self: stretch;
}